In [98]:
lst = list()

In [99]:
items = ['man', 'cake', 'cat','knaif', 'girl','python']
print("Length of items is :", len(items))

Length of items is : 6

In [100]:
mixed_data_type = ['Abubakar', '21', '7.5','single','Gombe State']
it_companies = ['FaceBook','Google','Microsoft','Apple','IBM' ,'Oracle','Amazon']
print("My companies :", it_companies)
print("Length of companies :", len(it_companies))
print("My companies :", it_companies)
print("First company :", it_companies[1])
print("Middle company :", it_companies[3])
print("Last company :", it_companies[-1])

My companies : ['FaceBook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Length of companies : 7
My companies : ['FaceBook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
First company : Google
Middle company : Apple
Last company : Amazon

In [101]:
it_companies[-2] = 'Netflix' 
print('Modified companie :' ,it_companies)

Modified companie : ['FaceBook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Netflix', 'Amazon']

In [102]:
it_companies.append('IT')
print('Modified companie :' ,it_companies)

Modified companie : ['FaceBook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Netflix', 'Amazon', 'IT']

In [103]:
it_companies[1] = 'GOOGLE'
print('Modified companie :' ,it_companies)

Modified companie : ['FaceBook', 'GOOGLE', 'Microsoft', 'Apple', 'IBM', 'Netflix', 'Amazon', 'IT']

In [104]:
"#".join(it_companies)

'FaceBook#GOOGLE#Microsoft#Apple#IBM#Netflix#Amazon#IT'

In [105]:
'GOOGLE' in it_companies

True

In [106]:
it_companies.sort()
print('Sorted Companies: ', it_companies)

Sorted Companies:  ['Amazon', 'Apple', 'FaceBook', 'GOOGLE', 'IBM', 'IT', 'Microsoft', 'Netflix']

In [107]:
it_companies.reverse()
print("Reversed Companies: ", it_companies)

Reversed Companies:  ['Netflix', 'Microsoft', 'IT', 'IBM', 'GOOGLE', 'FaceBook', 'Apple', 'Amazon']

In [108]:
print("First 3 companies: ", it_companies[:3])
print("Last 3 companies: ", it_companies[5:])
print("IT companies: ", it_companies[1:5])

First 3 companies:  ['Netflix', 'Microsoft', 'IT']
Last 3 companies:  ['FaceBook', 'Apple', 'Amazon']
IT companies:  ['Microsoft', 'IT', 'IBM', 'GOOGLE']

In [109]:
it_companies.remove('Microsoft')
print(it_companies)

['Netflix', 'IT', 'IBM', 'GOOGLE', 'FaceBook', 'Apple', 'Amazon']

In [110]:
del it_companies[1:4]
print(it_companies)

['Netflix', 'FaceBook', 'Apple', 'Amazon']

In [111]:
it_companies.pop()
print(it_companies)

['Netflix', 'FaceBook', 'Apple']

In [112]:
del it_companies

In [113]:
front_end = ['HTML','CSS','JS','React','Redux']
back_end = ['Node', 'Express', 'MongoDB']

front_end.extend(back_end)

In [114]:
full_stack = front_end.copy()
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [115]:
full_stack.insert(5 ,'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [116]:
# Excerses Level 2
age = [19,22,19,24,20,25,26,24,25,24]
age.sort()
age

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [118]:
#the min value is 19 and max is 26

In [117]:
age.insert(0, 19)
age.insert(10,26)
age

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [122]:
# median value is 24 + 24 = 48/2   =24
(24+24)/2

24.0

In [120]:

#average
print('the average is: ',(sum(age)/len(age)))

the average is:  22.75

In [123]:
#range = 26-19 
26-19

7

In [124]:
abs(19-22.75) == abs(26-22.75)

False

In [125]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [126]:
def find_middle_countries(countries):
    middle_index = len(countries) // 2

    if len(countries) % 2 == 0:
        middle_countries = [countries[middle_index - 1], countries[middle_index]]
    else:
        middle_countries = [countries[middle_index]]

    return middle_countries

middle_countries = find_middle_countries(countries)
print(middle_countries)

['Lesotho']

In [127]:
# Calculate the midpoint of the list
midpoint = len(countries) // 2

# Divide the list into two halves
first_half = countries[:midpoint]
second_half = countries[midpoint:]

# Print the two halves
print("First Half:", first_half)
print("Second Half:", second_half)

First Half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
Second Half: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [128]:

countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries
country1, country2, country3, *scandinavian_countries = countries

# Print the unpacked countries
print("First Country:", country1)
print("Second Country:", country2)
print("Third Country:", country3)
print("Scandinavian Countries:", scandinavian_countries)

First Country: China
Second Country: Russia
Third Country: USA
Scandinavian Countries: ['Finland', 'Sweden', 'Norway', 'Denmark']